<center>
  <h1>Bienvenue dans la création d'utilisateurs !</h1>

  <%= form_tag url_for(action: 'create'), method: "post" do %>

     <%= label_tag 'Ton nom' %>
     <%= text_field_tag 'username' %>
     <br /> <br />

     <%= label_tag 'Ton email' %>
     <%= text_field_tag 'email' %>
     <br /> <br />

     <%= label_tag 'Ta bio' %>
     <%= text_area_tag 'bio' %>
     <br /> <br />

     <%= submit_tag "Balance ta life!" %>

 <% end %>
</center>
