<h1>Voici ton profil <%= @username %></h1>
<hr>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">ID</th>
      <th scope="col">Email</th>
      <th scope="col">Biographie</th>
    </tr>
  </thead>
  <tbody>
    <tr style="text-align: center">
      <th scope="row"><%= @username %></th>
      <td><%= @id %></td>
      <td><%= @email %></td>
      <td><%= @bio %></td>
    </tr>
